body {
    background-color: hsl(0, 100%, 98%);
    color: hsl(0, 6%, 24%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.logo {
    float: left;
    margin: 30px;
}

.logo img {
    width: 100px;
}

.mobile-img {
    display: block;
    width: 100%;
}

.block-content {
    margin: 55px auto;
    max-width: 600px;
    width: 100%;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.block-content-body {
    color: hsl(0, 36%, 70%);
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 30px;
    padding: 0px 25px;
}

.desaturated-red {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

form {
    margin: auto;
    max-width: 430px;
    padding: 0 25px;
}

.input-form {
    background: hsl(0, 100%, 98%);
    background-clip: border-box;
    background-image: linear-gradient(to right, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    border: 1px solid;
    border-radius: 25px;
    border-color: hsl(0, 35%, 87%);
    display: flex;
    height: 40px;
    justify-content: center;
    padding-left: 25px;
    width: 90%;
}

.email {
    background-color: hsl(0, 100%, 98%);
    border: none;
    width: 100%;
}

::placeholder {
    color: hsl(0, 35%, 87%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.submit-btn {
    background-image: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    border-radius: 25px;
    box-shadow: 0px 10px 15px hsl(0, 100%, 93%);
    margin: -2px -4px;
    padding: 10px 22px;
}

.submit-btn:hover {
    background-image: linear-gradient(to right, hsl(0, 100%, 90%), hsl(0, 90%, 88%));
}

.error-text {
    color: hsl(0, 93%, 68%);
    padding-left: 18%;
    text-align: left;
}

.error-form {
    border: 2px solid;
    border-color: hsl(0, 93%, 68%);
    color: hsl(0, 93%, 68%);
}

.error-icon {
    display: none;
    padding: 8px;
}

@media only screen and (min-width: 1025px) {
    body {
        background-image: url("images/bg-pattern-desktop.svg");
        background-size: 100%;
        height: 100%;
        text-align: left;
        width: 50%;
    }
    .logo {
        margin: 80px 0 100px 180px;
        width: 30%;
    }
    .logo img {
        width: 158px;
    }
    .mobile-img {
        display: none;
    }
    .block-img {
        background-image: url("images/hero-desktop.jpg");
        background-size: cover;
        height: 100%;
        position: fixed;
        right: 0;
        width: 40%;
    }
    .block-content {
        margin: 0 0 auto 180px;
        width: 57%;
    }
    h1 {
        font-size: 60px;
        letter-spacing: 18px;
        line-height: 110%;
    }
    .block-content-body {
        max-width: 450px;
        margin: 30px 0 50px;
        padding: 0;
    }
    form {
        margin: 0;
        padding: 0;
    }
    .input-form {
        height: 50px;
    }
    ::placeholder {
        font-size: 16px;
    }
    .submit-btn {
        padding: 10px 40px;
    }
    .error-text {
        padding-left: 30px;
    }
    .error-icon {
        padding: 13px;
    }
}